::selection{
  background: rgba(237,28,36,.7);
  color: #fff;
} 
::-moz-selection{
  background: rgba(237,28,36,.7);
  color: #fff;
}
a{
  color: #175f91;
}
.btn-primary {
  background-color: #175f91;
  border-color: #B9161C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #D0181F;
  border-color: #9C1217;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: #175f91;
}
.gradient-major .overlay{
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
}
.section-title .see-all a:hover{
  color: #175f91;
}
.breadcrumb li>a:hover{
  color: #175f91;
}
.highlighted{
  color: #175f91;
}
.post-share-social a:hover {
  color: #175f91;
}
.cat-icon{
  background-color: #175f91;
}
.hivisasa--login a:hover{
  color: #175f91;
}
.hivisasa--search .search-icon-wrapper:hover{
  color: #175f91;
}
.search-wrapper #search-close:hover{
  color: #175f91;
}
.megamenu-parent>li>a:hover,
.megamenu-parent li.active >a,
.dropdown-items li>a:hover,
.megamenu-parent .dropdown-inner li.active >a{
  color: #175f91;
}
.has-child:hover >a,
.dropdown-inner .has-child:hover >a{
  color: #175f91;
}
.vertical-tabs .tab-btns > li.active > a,
.vertical-tabs .tab-btns > li:hover > a {
  background-color: #175f91;
}
#offcanvas-toggler > i:hover {
  color: #175f91;
}
.offcanvas-menu {
  background-color: #175f91;
}
.customNavigation a{
  background-color: rgba(237, 28, 36, 0.5);
}
.customNavigation a:hover {
  background-color: #175f91 !important;
}
.article-inner.default .article-info a:hover{
  color: #175f91;
}
.simple-article-overlay article .overlay:before {
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
}
#article-slider .owl-controls .owl-dot.active >span{
  background-color: #175f91;
}
.latest-video.default.leading-item .entry-title a:hover {
  color: #175f91;
}
.latest-video .entry-title a:hover {
  color: #175f91;
}
.latest-video.sub-leading-item .vp-cat {
  color: #175f91;
}
.thumb-gallery .flexslider.tg-slider:before {
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, #175f91 100%, rgba(146, 39, 143, 0.5) 100%);
}
.thumb-gallery.default .flex-direction-nav a.flex-prev:hover,
.thumb-gallery.default .flex-direction-nav a.flex-next:hover {
  background-color: rgba(237, 28, 36, 0.8);
}
.thumb-gallery .flex-direction-nav li.flex-nav-prev a:hover {
  background: #175f91;
}
.thumb-gallery .flex-direction-nav li.flex-nav-next a:hover {
  background: #175f91;
}
.thumb-gallery #img_galley ul li.flex-active-slide:after {
  background-color: rgba(237, 28, 36, 0.5);
}
.thumb-gallery #img_galley ul li:after {
  background-color: rgba(237, 28, 36, 0.5);
}
.thumb-gallery #img_galley li.flex-active-slide:after {
  background-color: rgba(237, 28, 36, 0.3);
}
.popular-news-list li a:before {
  background: #175f91;    
}
.popular-news-list li a:hover{
  color: #175f91;
}
.hivisasa--newsletter {
  background-color: #175f91;
}
.hivisasa--newsletter .form input[type="submit"] {
  background-color: #c61017;
  border-color: #af0e14;
}
.hivisasa--newsletter .form input[type="submit"]:hover {
  background-color: #B10E14;
  border-color: #970c11;
}
.advertisment-info .subtitle,
.history-info .subtitle{
  color: #175f91;
}
.advertise-section .contact-us{
  color: #175f91;
}
.our-history .counter .title{
  color: #175f91;
}
.error-page .title{
  color: #175f91;
}
.comingsoon .social-icons li a:hover {
  color: #175f91;
}
.share-count span.number {
  color: #175f91;
}
.post-meta-info-list i {
  background-color: #175f91;
}
.post-meta-info-list-in a:hover{
  color: #175f91;
}
footer .footer-wrapper >.container{
  background-color: #175f91;
}
.copyright-wrapper a{
  color: #175f91;
}
.copyright-wrapper a:hover {
  color: #c61017;
}