/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.megamenu-parent>li{
		padding: 0 15px 0 5px;
	}
	.default .no-image .img-wrapper {
		min-height: 160px;
	}
	.no-image .article-inner,
	.no-image .img-wrapper{
		min-height: 205px;
	}
	.social-common-bar .social-icon i{
		width: 32px;
	}
	.entry-blog-meta-list:nth-child(2){
		padding-left: 0;
		border: none;
		margin-top: 10px;
	}
	.post-meta-info-list{
		margin: 0 0 0 20px;
		padding-left: 20px;
	}
	.comingsoon .countdown li{
		margin-top: 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) and (min-width: 768px){
	.article-inner .article-info{
		padding: 10px;
	}
	.article-inner .article-info .entry-title{
		font-size: 13px;
	}
	.post-share-social{
		right: 8px;
	}
	.post-share-social .share-icon{
		margin-left: 5px;
	}
	.thumb-gallery #img_galley .flex-direction-nav li.flex-nav-next a,
	.thumb-gallery #img_galley .flex-direction-nav li.flex-nav-prev a{
		bottom: 30px;
	}
	.social-common-bar .social-icon i{
		width: 46px;
	}
	.social-common-bar .social-total-count{
		float: none;
		margin-left: 0;
	}
	.social-common-bar .social-icon{
		display: block;		
	}
	#bottom1,
	#bottom2,
	#bottom3,
	#bottom4 {
		height: 200px;
	}
}
@media only screen and (max-width : 992px) {
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	.search-wrapper{
		width: 95%;
	}
	.search-wrapper input{
		border: none;
	}
	#article-slider.default .owl-controls {
		bottom: 180px;
	}
	#article-slider{
		margin-bottom: 30px;
	}
	.article-categories-slider article.leading-item .article-inner .article-info .entry-title{
		font-size: 24px;
		line-height: 28px;
	}
	.default .no-image .img-wrapper {
		min-height: 122px;
	}
	.no-image .img-wrapper {
		min-height: 242px;
	}
	.hivisasa--social-share ul{
		margin-left: -10px;
		margin-top: 10px;
	}
	.post-meta-info{
		border-bottom: none;

	}
	.post-meta-info-list {
		width: 50%;
		float: left;
		margin: 0 0 10px;
		border: none;
		padding: 0;
	}
	.comingsoon .form{
		margin: 50px 0 40px 0;
	}
	#bottom1,
	#bottom2,
	#bottom3,
	#bottom4 {
		margin-bottom: 30px;
		overflow: hidden;
	}
	#bottom2 .bottom-menu .pull-right{
		float: left !important;
		margin-left: 30px;
	}
	#bottom4 .social-wrapper {
		margin-left: 0;
	}
	.our-history .counter .title{
		font-size: 80px;
		letter-spacing: -5px;
		line-height: 70px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.advertise-img{
		margin-bottom: 30px;
	}
	/*slider*/
	#main-slider .main-slider-indicators li .slide2-type{
		margin-bottom: 10px;
	}
	#main-slider .main-slider-indicators .main-slider-indicators-inner {
		right: 0 !important;
		width: 100%;
		height: 105px;
		padding: 15px 0;
		margin: 0;
	}
	#main-slider .main-slider-indicators .main-slider-indicators-inner li {
		width: 30%;
		height: 85px;
		overflow: hidden;
		border: none;
		padding: 0 15px 0 0;
		margin: 0;
		border-bottom: none;
	}
	#main-slider .main-slider-indicators .main-slider-indicators-inner li .indicators-title {
		max-height: 50px;
		margin-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		border-bottom: none;
		display: -webkit-box;
		display: box;
		font-size: 15px;
		line-height: 20px;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		box-orient: vertical;
	}
	.hivisasa--slider.default #main-slider .item .next-post .next-post-wrapper > div{
		padding: 30px;
	}
	#main-slider .item .next-post .slide-title{
		font-size: 24px;
		line-height: 30px;
	}
	.latest-video.leading-item .latest-video-inner{
		margin-bottom: 30px;
	}
	.popular-news{
		margin-top: 30px;
	}
	.social-common-bar .social-icon i{
		width: 46px;
	}
	.social-common-bar .social-icon,
	.social-common-bar .social-total-count{
		float: left;
	}
	.load-more{
		margin-bottom: 30px;
	}
	.highlighted{
		font-size: 20px;
		line-height: 24px !important;
	}
	.advertisment-info .subtitle,
	.history-info .subtitle{
		margin: 20px 0;
		line-height: 26px;
	}
	.our-history>div {
		margin-bottom: 30px;
	}
	.our-history .counter .title{
		margin-bottom: 10px;
	}
	.our-history .counter {
		text-align: left;
		margin-top: 20px;
	}
	.advertise-section>div {
		margin-top: 40px;
	}
	.advertise-section>div .title {
		font-size: 35px;
		margin-top: 20px;
	}
	.advertise-section .contact-us {
	    margin-top: 15px;
	}
	.contact-page .title{
		padding-bottom: 10px;
	    margin-bottom: 20px;
	}
	#google-map{
		margin-bottom: 30px;
	}
	.comingsoon .form{
		margin: 50px 0 40px 120px;
	}
	.comingsoon .countdown li{
		width: 50%;
		float: left;
		margin: 0 0 30px;
	}
	.comingsoon .countdown li span{
		display: block;
	}
	.comingsoon .time-period{
		margin-left: 10px;
		margin-top: 0;
	}
	.thumb-gallery .flex-viewport .slides li {
		width: 135px !important;
	}
	.error-img{
		display: inline-block;
	}
	.error-page{
		text-align: center;
	}
	.error-page .title{
		margin-top: 30px;
	}
	.copyright-wrapper{
		text-align: center  !important;
	}
	.copyright-wrapper p {
		float: none !important;
		margin-top: 10px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.hivisasa--date {
		font-size: 12px;
		line-height: 14px;
	}
	.thumb-gallery .flex-viewport .slides li {
		width: 80px !important;
	}
	.thumb-gallery #img_galley .flex-direction-nav li.flex-nav-next a,
	.thumb-gallery #img_galley .flex-direction-nav li.flex-nav-prev a{
		bottom: 25px;
	}
	.latest-video.leading-item .latest-video-inner{
		height: auto;
	}
	.latest-video.leading-item .entry-title{
		font-size: 18px;
	}
	.latest-video.leading-item .play-icon {
		font-size: 42px;
	}
	article.leading-item .article-inner .article-info{
		padding: 20px;
	}
	.article-inner .article-info{
		padding: 20px;
	}
	.hivisasa--social-share ul li{
		margin-bottom: 10px;
	}
	#page-title .title,
	.breadcrumb{
		float: none !important;
		text-align: center;
	}
	.our-history .counter .title {
		font-size: 40px;
		letter-spacing: -3px;
		line-height: 30px;
	}
	.contact-form .form-group:nth-child(1),
	.contact-form .form-group:nth-child(2),
	.contact-form .form-group:nth-child(3),
	.contact-form .form-group:nth-child(4) {
		width: 100%;
		float: left;
		padding-right: 0; 
	}
	.contact-form button[type="submit"]{
		margin-top: 0;
	}
	.comingsoon body{
		background-image: none;
	}
	.comingsoon body:before {
		opacity: .7;
	}
	.comingsoon .form{
		margin: 30px 0 20px 0;
	}
	.comingsoon .form input{
		width: 100% !important;
		float: none;
	}
	.comingsoon .days,
	.comingsoon .hours,
	.comingsoon .minutes,
	.comingsoon .seconds{
		line-height: 35px;
	    font-size: 40px;
	}
	footer .footer-wrapper >.container{
		padding: 50px 0 15px 15px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#article-slider.default .owl-controls {
		bottom: 210px;
	}
}