
<div class="row">

    <div class="col-sm-12 single-category">
        <img src="http://static-hivisasa-com.s3-accelerate.amazonaws.com{{articleImage}}" class="img-100p" alt="img">
        <h2 class="main-entry-title">{{ sectionTitle}}</h2>
        <div class="entry-blog-meta">
            <div class="entry-blog-meta-list">
                <div class="author-avatar">
                    <img alt="" src="img/comm-user.jpg">
                </div>
                <div class="author-avatar-text">
                    <p class="author"> <a href="#/" title="Posts by Hivisasa" rel="author">{{articleWriter}}</a></p>
                    <span class="entry-date"><time>{{articleDate}}</time></span>,
                    <span class="cats"><a href="#/" rel="category tag">{{articleCategory}}</a></span>
                </div>
            </div> <!-- //entry-blog-meta-list -->

            <div class="entry-blog-meta-list">
                <div class="share-count">
                    <span class="number">{{pageViews}}</span><span>Views</span>
                </div>
                <div class="hivisasa--social-share">
                    <ul>
                        <li>
                            <a href="#/" class="icon-facebook"><i class="fa fa-facebook"></i> Share on Facebook</a>
                        </li>
                        <li>
                            <a href="#/" class="icon-twitter"><i class="fa fa-twitter"></i> Tweet on Twitter</a>
                        </li>
                    </ul>
                </div>
            </div> <!-- //entry-blog-meta-list -->
        </div> <!-- //entry-blog-meta -->

        <div class="entry-summary" data-ng-bind-html="articleBody">
        </div> <!-- //entry-summary -->

        <div class="post-meta-info">
            <div class="post-meta-info-list category">
                <i class="fa fa-folder-open-o"></i>
                <div class="post-meta-info-list-in category-in">
                    <p>Category</p>
                    <a href="#/" rel="category tag">{{articleCategory}}</a>
                </div>
            </div>
            <div class="post-meta-info-list date">
                <i class="fa fa-calendar-o"></i>
                <div class="post-meta-info-list-in date-in">
                    <p>Date</p>
                    <time class="entry-date">{{articleDate}}</time>
                </div>
            </div>
        </div> <!-- //post-meta-info -->
    </div> <!-- //col-sm-12 -->

</div>

<!-- Social Media Category -->
<div class="single-article-category simple-article-overlay gradient-color10">
    <div class="section-title">
        <h3 class="pull-left"> <span class="cat-icon cat-icon-color07">R</span>Related Articles</h3>
        <div class="pull-right see-all">
            <a href="#/" class="hidden">See all</a>
        </div>
    </div> <!-- //section-title -->

    <div class="row">

        <div class="col-sm-4" data-ng-repeat="article in relatedArticles">
            <article class="gradient-color04">
                <div class="article-inner">
                    <div class="overlay hidden"></div>
                    <div class="img-wrapper"><img class="img-100p latest-post-image" src="http://static-hivisasa-com.s3-accelerate.amazonaws.com{{article.image_uri}}" alt="img"></div>
                    <div class="post-share-social">
                        <a href="#/" class="fa fa-facebook"></a>
                        <a href="#/" class="fa fa-twitter"></a>
                        <a href="#/" class="fa fa-linkedin"></a>
                        <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                    </div> <!-- //post-share-social -->
                    <div class="article-info">
                        <p class="slide-cat">
                            <a href="#/article/{{article.nid}}">
                                <span class="cat-icon cat-icon-color08"> R</span>
                                Related News
                            </a>
                        </p>
                        <h4 class="entry-title">
                            <a href="#/article/{{article.nid}}">
                                {{ article.title | limitTo: 50 }}{{article.title.length > 50 ? '...' : ''}}
                            </a>
                        </h4>
                    </div>
                </div>
            </article>
        </div> <!-- //col-sm-4 -->
    </div> <!-- //row -->

</div>
<!-- //Social Media Category -->