<div class="section-title">
    <h3> <span class="cat-icon"><i class="fa fa-newspaper-o"></i></span>{{ sectionTitle}}</h3>
</div> 
<!-- //section-title -->

<div class="row">

    <!-- get latest articles -->
    <div class="col-sm-4" data-ng-repeat="article in articles">
        <article class="gradient-color04">
            <div class="article-inner">
                <div class="overlay hidden"></div>
                <div class="img-wrapper"><img class="img-100p latest-post-image" src="http://static-hivisasa-com.s3-accelerate.amazonaws.com{{article.image_uri}}" alt="img"></div>
                <div class="post-share-social">
                    <a href="#/" class="fa fa-facebook"></a>
                    <a href="#/" class="fa fa-twitter"></a>
                    <a href="#/" class="fa fa-linkedin"></a>
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                </div> <!-- //post-share-social -->
                <div class="article-info">
                    <p class="slide-cat">
                        <a href="#/article/{{article.nid}}">
                            <span class="cat-icon cat-icon-color08"> C</span>
                            {{sectionTitle }}
                        </a>
                    </p>
                    <h4 class="entry-title">
                        <a href="#/article/{{article.nid}}">
                            {{ article.title | limitTo: 50 }}{{article.title.length > 50 ? '...' : ''}}
                        </a>
                    </h4>
                </div>
            </div>
        </article>
    </div> <!-- //col-sm-4 -->

</div> 
<!-- //row -->