
<div class="section-title">
    <h3> <span class="cat-icon"><i class="fa fa-bell-o"></i></span>{{ sectionTitle }}</h3>
</div> 
<!-- //section-title -->

<div class="row">
    <div class="col-sm-4">
        <article class="gradient-color04">
            <div class="article-inner">
                <div class="overlay"></div>
                <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/thumbnail06.jpg" alt="img"></div>
                <div class="post-share-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                </div> <!-- //post-share-social -->
                <div class="article-info">
                    <p class="slide-cat">
                        <a href="article-categories.html">
                            <span class="cat-icon cat-icon-color08"> E</span>ENTERTAINMENT
                        </a>
                    </p>
                    <h4 class="entry-title">
                        <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>
                    </h4>
                </div>
            </div>
        </article>
    </div> <!-- //col-sm-4 -->

    <div class="col-sm-4">
        <article class="gradient-color05">
            <div class="article-inner">
                <div class="overlay"></div>
                <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/thumbnail07.jpg" alt="img"></div>
                <div class="post-share-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                </div> <!-- //post-share-social -->
                <div class="article-info">
                    <p class="slide-cat">
                        <a href="#">
                            <span class="cat-icon cat-icon-color06"> T</span>Technology
                        </a>
                    </p>
                    <h4 class="entry-title">
                        <a href="#">Praesent accumsan odio in ante ullamcorper</a>
                    </h4>
                </div>
            </div>
        </article>
    </div> <!-- //col-sm-4 -->

    <div class="col-sm-4">
        <article class="gradient-color06">
            <div class="article-inner">
                <div class="overlay"></div>
                <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/placeholder.jpg" alt="img"></div>
                <div class="post-share-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                </div> <!-- //post-share-social -->
                <div class="article-info">
                    <p class="slide-cat">
                        <a href="#">
                            <span class="cat-icon cat-icon-color07"> S</span>SOCIAL
                        </a>
                    </p>
                    <h4 class="entry-title">
                        <a href="#">Etiam feugiat dolor ac elit suscipit in elementum orci</a>
                    </h4>
                </div>
            </div>
        </article>
    </div> <!-- //col-sm-4 -->
</div> 
<!-- //row -->